.container {
  width: 100%;
  display: flex;
  justify-content: center;;
}


.authFormContainer {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 180px
}

@media(max-width: 400px) {
  .authFormContainer {
    width: 100%;
    padding: 20px 8px;
  }
}

@media(max-width: 1024px) {
  .authFormContainer {
    padding-top: 80px;
  }
}
